<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'openid', :plugin => 'redmine_openid_selector' %>
    <%= stylesheet_link_tag 'openid-plugin', :plugin => 'redmine_openid_selector' %>
    <%= javascript_include_tag 'openid-selector/js/openid-jquery', :plugin => 'redmine_openid_selector' %>
    <%= javascript_include_tag 'openid-selector/js/openid-en', :plugin => 'redmine_openid_selector' %>
    <script type="text/javascript">
            (function($) {
                $(function() {
                    openid.img_path = "<%= Redmine::Utils.relative_url_root %>plugin_assets/redmine_openid_selector/javascripts/openid-selector/images/";
                    openid.init('openid_url');
                });
            })(jQuery);
    </script>
<% end %>

		<br />

		<table class="box openid-selector">
			<tbody id="openid_choice"> 
			<tr>	<td>Alternatively you can log in using one of these account providers:</td> </tr>
			<tr>	<td id="openid_btns"></td> </tr>
			<tr><td id="openid_input_area"></td></tr>
			</tbody>
		</table>
